<div class="container">
  <h1>My tasks</h1>
  <ul>
    <% @task_complete = '' %>
      <% @tasks.each do |task|%>
        <% if task.completed == true %>
          <% @task_complete = "[x]" %>
        <% else %>
        <%  @task_complete = "[  ]" %>
        <% end %>
        <li><%= @task_complete %> - <%= link_to task.title, task_path(task)%> - <%= link_to "Remove", task_path(task), method: :delete %></li>
      <% end%>
  </ul>

  <div class="btn btn-light"><%= link_to "New Task", new_task_path %></div>
</div>